In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv("../datasets/adult/Adult.csv")
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:

print(df.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  float64
 1   workclass       32561 non-null  int32
 2   fnlwgt          32561 non-null  float64
 3   education       32561 non-null  int32
 4   education-num   32561 non-null  float64
 5   marital-status  32561 non-null  int32
 6   occupation      32561 non-null  int32
 7   relationship    32561 non-null  int32
 8   race            32561 non-null  int32
 9   sex             32561 non-null  int32
 10  capital-gain    32561 non-null  float64
 11  capital-loss    32561 non-null  float64
 12  hours-per-week  32561 non-null  float64
 13  native-country  32561 non-null  int32
 14  salary          32561 non-null  int32
dtypes: float64(6), int32(9)
memory usage: 2.6 MB

In [10]:
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = df.select_dtypes(include=['object']).columns
print(categorical_cols)

Index([], dtype='object')

In [ ]:

label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [ ]:

scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [ ]:

print(df.head())

        age  workclass    fnlwgt  education  education-num  marital-status  \
0  0.030671          7 -1.063611          9       1.134739               4
1  0.837109          6 -1.008707          9       1.134739               2
2 -0.042642          4  0.245079         11      -0.420060               0
3  1.057047          4  0.425801          1      -1.197459               2
4 -0.775768          4  1.408176          9       1.134739               2

   occupation  relationship  race  sex  capital-gain  capital-loss  \
0           1             1     4    1      0.148453      -0.21666
1           4             0     4    1     -0.145920      -0.21666
2           6             1     4    1     -0.145920      -0.21666
3           6             0     2    1     -0.145920      -0.21666
4          10             5     2    0     -0.145920      -0.21666

   hours-per-week  native-country  salary
0       -0.035429              39       0
1       -2.222153              39       0
2       -0.035429              39       0
3       -0.035429              39       0
4       -0.035429               5       0

In [9]:
df.to_csv('Adult_datasets.csv',index=False)